Flask==2.0.1
braintree>=4.0.0
MarkupSafe>=2.0
mock>=1.3.0
# As of v2.1.0, werkzeug removed `as_tupple`, Flask wraps this, so we need to pin this version until we can update Flask
Werkzeug==3.0.1
# Jinja 3.1 has breaking changes TO-DO: find proper fix for later versions
Jinja2<3.1,>=3.0
itsdangerous>=2.0
requests<3.0,>=0.11.1
pbr>=0.11
six>=1.7
python-dotenv==0.12.0
gunicorn==20.0.4
